@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    text-decoration: none;
}

:root{
    --purple-dark: #4D2059;
    --purple-medium: #80568C;
    --purple-submedium: #9C77A6;
    --purple-light: #CAA9D9;
    --purple-sublight: #EAD5F2;
}

h1{
    font-family: 'aclonica';
    font-weight: 300;
    font-size: 50px;
    margin-bottom: 30px;
}

p{
    font-size: 22px;
    font-family: 'Poppins';
}

/*Header e Navbar*/

header > img{
    width: 100%;
}

nav{
    background-color: var(--purple-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

nav > a{
    color: white;
    font-family: 'poppins';
    font-size: 25px;
}

nav > a:hover {
    color: var(--purple-light);
    transform: scale(1.1);
    transition: 0.3s;
}

a > img{
    width: 30px;
    height: 30px;
}

.icons > a:hover img {
    transition: 0.3s;
}

.logo{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.logo > img{
    width: 80px;
}

.logo > h3{
    font-family: 'aclonica';
    color: white;
    font-weight: 100;
}

.icons > a{
    padding: 20px;
}

.mini-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    height: 200px;
    margin-bottom: 120px;
    margin-top: -120px;
}

.mini-cards a{
    color: #000;
}

.card{
    width: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: #b3b2b2 0px 0px 8px 0px;
}

.card > img{   
    background-color: #CAA9D9;
    border-radius: 8px;
    width: 40px;
    padding: 10px;
}

.card:hover {
    box-shadow: 0px 6px 16px rgba(0,0,0,0.2);
    transform: scale(1.1);
    transition: 0.3s;
}

/*Home*/

#cuidado-home {
    width: 1200px;
    margin: 80px auto;
}

#cuidado-home .conteudo-cuidado {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#cuidado-home img {
    width: 800px;
    border-radius: 15px;
}

.cuidado-home-texto {
    max-width: 500px;
}

.cuidado-home-texto button a {
    color: #fff;
}

.cuidado-home-texto button{
    background: var(--purple-dark);
    font-size: 20px;
    color: #fff;
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}

.cuidado-home-texto button:hover {
    background: var(--purple-medium);
    transition: 0.3s;
}

#origem {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.origem-wrapper {
    width: 1200px;
    padding: 20px;
}

.origem-wrapper img {
    width: 100%;
}

.origem-wrapper p {
    background: linear-gradient(#fff, var(--purple-light)) ;
    padding: 25px;
    border-radius: 20px;
    margin-top: 20px;
}

#indicacoes {
    width: 1200px;
    margin: 60px auto;
}

.ind-wrapper h3 {
    font-family: 'poppins';
    font-weight: 500;
    font-size: 20px;
}

.ind-wrapper {
    margin-top: 100px;
    margin-bottom: 60px;
}

.card-ind {
    font-family: 'poppins';
    width: 370px;
    background: #fff;
    display: inline-block;
    margin-right: 25px;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    padding-bottom: 20px;
    margin-top: 50px;
}

.card-ind img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-ind h4 {
    margin-left: 20px;
    font-size: 25px;
    font-weight: 600;
}

.card-ind p {
    margin-left: 20px;
    font-size: 18px;
}

.card-ind button {
    background-color: #fff;
    color: var(--purple-dark);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    border: var(--purple-dark) 1px solid;
}

.card-ind:hover {
    box-shadow: 0px 10px 18px rgba(0,0,0,0.15);
    transform: scale(1.02);
    transition: 0.3s;
}

.card-ind button:hover {
    background-color: var(--purple-sublight);
    transition: 0.3s;
}

#profissionais .card-ind {
    height: auto;
    font-family: 'Poppins';
}

#profissionais .card-ind img {
    height: 350px;
}

#sobre {
    width: 1200px;
    margin: 80px auto;
}

#sobre .conteudo-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

#sobre p {
    width: 800px;
}

#sobre img {
    width: 500px;
}

/*Página Tranças*/

.braids{
    margin-top: 120px;
    justify-items: center;
}

.braids > .title{
    width: 950px;
}

.card-braids{
    gap: 10%;
    width: 950px;
    display: flex;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.card-braids > img{
    border-radius: 15px;
    width: 300px;
}

.text{
    width: 500px;
    padding: 30px;
    border-radius: 15px;
    text-justify: center;
    background-color: #F7F7F7;
    align-content: center;
}

.text > h2{
    font-family: 'aclonica';
    font-weight: 200;
    color: #4D2059;
    margin-bottom: 30px;
}

#cuidados{
    justify-items: center;
}

.importancia > p{
    margin-top: 50px;
    width: 950px;
    font-family: 'poppins';
    font-size: 1.4em;
}

.principais-cuidados{
    margin-top: 80px;
    width: 950px;
}

.lista > h3{
    font-family: 'poppins';
    background-color: #ffffffee;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
    font-weight: 400;
}

.lista > h3:hover{
    transform: scale(1.02);
    transition: 0.3s;
}

.produtos-cuidados{
    margin-top: 80px;
}

.produtos-cuidados > img{
    width: 270px;
    padding-left: 30px;
    margin-bottom: 50px;
}

.produtos-cuidados > img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

footer {
  background-color: var(--purple-dark);
  color: #fff;
  padding: 30px 100px ;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'poppins';
}

footer .logo-footer {
  width: 250px;
  height: auto;
}

footer .links-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
}

footer .indicacao,
 footer .navegacao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 50px;
}

footer .indicacao h3,
footer .navegacao h3,
footer .contato h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  
}

footer .indicacao a,
footer .navegacao a {
  text-decoration: none;
  color: var(--black);
  font-size: 20px;
}

footer .contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

footer .contato .rede-social{
  font-size: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer .contato .rede-social a:hover {
  transform: scale(1.1);
  transition: 0.3s ;
}

footer .indicacao a:hover,
footer .navegacao a:hover {
    color: var(--purple-light);
    transition: 0.3s;
    transform: translateX(5px);
}

.copyright {
    background: var(--purple-dark);
    padding: 15px;
    text-align: center;
    font-family: 'Poppins';
    margin-top: -5px;
    color: #fff;
}
